// ABOUT

.about {

   background-color: rgb(232, 255, 253);
   color: white;
   text-shadow: 0 0 5px rgba($black, 0.8);

   position: relative;

   display: flex;
   align-items: center;
   justify-content: flex-end;

   &__title {

   }

   &__text-container {
      font-size: 2rem;
      width: 50%;
      min-width: 60rem;
      margin-right: 10rem;
      position: relative;
      z-index: 10;
   }

   &__point {

      position:relative;

      &:before {
         content: '>';
         position: absolute;
         left: -2rem;
      }

   }

}

@include mq($until: tablet) {

   .about {

      &__text-container {
         width: 100%;
         min-width: inherit;
         margin: 0;
         padding: 0 5rem;
      }

   }

}
