// CONTACT

.contact {

   display: flex;
   justify-content: center;

   padding: 3rem 2rem;

   .social-icon {

      padding: 0 6rem;

      height: 5rem;
      width: 5rem;
      text-decoration: none;

      color: #545454;
      transition: color 0.25s;

      &:hover {
         color: $black;
      }

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 5rem;

      &--email {
         // color: red;
      }

      &--phone {
         //  color: green;
         @include mq($from: phablet) {
            display: none;
         }
      }

      &--instagram {
         //  color: orange;
      }

      &--facebook {
         //  color: blue;
      }

   }

}

@include mq($until: tablet) {

   .contact {

      .social-icon {
         color: $black;
      }

   }

}

@include mq($until: phablet) {

   .contact {

      justify-content: space-around;

      .social-icon {
         font-size: 4rem;
         padding: 0;
      }

   }

}
