// HEADER

.header {

   margin: 0;
   // height: 35rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-family: 'Abel', sans-serif;

   &__aah-logo {
      width: 120px;
      height: 100px;
      overflow: hidden;
   }

   &__title {
      text-transform: uppercase;
      padding: 0 2.5rem;
      font-size: 4.5rem;
      letter-spacing: 1.4rem;
      margin: 1rem 0;
   }

   &__subtitle {
      margin: 1rem 0 3rem;
      font-size: 2rem;
   }

   #AAH_SVG {

   	.st0 {
         fill: none;
         stroke: #666666;
         stroke-width: 1.2px;
         stroke-miterlimit: 20;
      }

   }

}

@include mq($until: wide) {

   .header {

      &__title {
         font-size: 4rem;
         letter-spacing: 1.2rem;
      }

   }

}

@include mq($until: desktop) {

   .header {

      // height: 25rem;

      &__title {
         font-size: 3.5rem;
         letter-spacing: 1rem;
         line-height: 5rem;
      }

   }

}

@include mq($until: tablet) {

   .header {

      // height: 12rem;

      &__title {
         font-size: 2.7rem;
         letter-spacing: 0.7rem;
         line-height: 4rem;
         margin: 0;
      }

      &__subtitle {
         font-size: 1.6rem;
      }

   }

}

@include mq($until: phablet) {

   .header {

      &__title {
         letter-spacing: 0.4rem;
         font-size: 2.3rem;
         line-height: 3.5rem;
      }

   }

}
