// HEADER

.header {

   margin: 0;
   height: 35rem;
   display: flex;
   align-items: center;
   justify-content: center;
   letter-spacing: 3rem;

   &__title {
      text-align: center;
      font-size: 4em;
      font-family: 'Abel', sans-serif;
      text-transform: uppercase;
   }

}

@include mq($until: desktop) {

   .header {

      height: 25rem;

      &__title {
         font-size: 5rem;
      }

   }

}

@include mq($until: tablet) {

   .header {

      height: 12rem;

      &__title {
         letter-spacing: 2rem;
         font-size: 4rem;
         margin: 0;
      }

   }

}

@include mq($until: phablet) {

   .header {

      &__title {
         letter-spacing: 1rem;
         font-size: 3rem;
      }

   }

}
