html {
   font-size: 62.5%;
}

h2 {
   margin: 0;
}

.home,
.about,
.elements,
.products,
.contact {
   min-height: 500px;
   padding: 2rem;
}

// .about { background-color: rgb(130, 191, 255); }
// // .elements { background-color: rgb(223, 82, 62); }
// .elements { background-color: white; }
// .products { background-color: rgb(255, 184, 0); }
// .contact { background-color: rgb(199, 250, 167); }
